@model Property

@{
    ViewData["Title"] = "Register Property";
}

<div class="container">
    <div class="row m2">
        <div class="col-5">
            <div class="text-centered">
                <h2>Register Property</h2>
            </div>
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="PropertyReferenceNumber" class="form-label"></label>
                    <input asp-for="PropertyReferenceNumber" class="form-control" />
                    <span asp-validation-for="PropertyReferenceNumber" class="text-danger small"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PropertySize" class="form-label"></label>
                    <input asp-for="PropertySize" class="form-control" />
                    <span asp-validation-for="PropertySize" class="text-danger small"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ProclamationDate" class="form-label"></label>
                    <input asp-for="ProclamationDate" type="date" class="form-control" />
                    <span asp-validation-for="ProclamationDate" class="text-danger small"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="RegistrationDate" class="form-label"></label>
                    <input asp-for="RegistrationDate" type="date" class="form-control" />
                    <span asp-validation-for="RegistrationDate" class="text-danger small"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="SGCode" class="form-label"></label>
                    <input asp-for="SGCode" class="form-control" />
                    <span asp-validation-for="SGCode" class="text-danger small"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="QuaternaryDrainage" class="form-label"></label>
                    <input asp-for="QuaternaryDrainage" class="form-control" />
                    <span asp-validation-for="QuaternaryDrainage" class="text-danger small"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="WmaId" class="form-label">Water Management Area</label>
                    <input asp-for="WmaId" class="form-control" />
                    <span asp-validation-for="WmaId" class="text-danger small"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Longitude" class="form-label"></label>
                    <input asp-for="Longitude" class="form-control" />
                    <span asp-validation-for="Longitude" class="text-danger small"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Latitude" class="form-label"></label>
                    <input asp-for="Latitude" class="form-control" />
                    <span asp-validation-for="Latitude" class="text-danger small"></span>
                </div>
            
                <div class="mb-3">
                    <h4>Property Address</h4>
                    <div class="mb-3">
                        <label asp-for="Address.StreetAddress" class="form-label"></label>
                        <input asp-for="Address.StreetAddress" class="form-control" />
                        <span asp-validation-for="Address.StreetAddress" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Address.SuburbName" class="form-label"></label>
                        <input asp-for="Address.SuburbName" class="form-control" />
                        <span asp-validation-for="Address.SuburbName" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Address.CityName" class="form-label"></label>
                        <input asp-for="Address.CityName" class="form-control" />
                        <span asp-validation-for="Address.CityName" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Address.Province" class="form-label"></label>
                        <input asp-for="Address.Province" class="form-control" />
                        <span asp-validation-for="Address.Province" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Address.Longitude" class="form-label"></label>
                        <input asp-for="Address.Longitude" class="form-control" />
                        <span asp-validation-for="Address.Longitude" class="text-danger small"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Address.Latitude" class="form-label"></label>
                        <input asp-for="Address.Latitude" class="form-control" />
                        <span asp-validation-for="Address.Latitude" class="text-danger small"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}